{% load partials %}
{% partialdef button %}
{{text}}
{% if arrow %}
  <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2.2"
      stroke-linecap="round"
      stroke-linejoin="round"
      data-om-id="c391990f:53"
  >
      <line x1="5" y1="12" x2="19" y2="12" data-om-id="c391990f:54"></line>
      <polyline points="12 5 19 12 12 19" data-om-id="c391990f:55"></polyline>
  </svg>
{% endif %}
{% endpartialdef %}

{% if link %}
<a class="btn btn-primary btn-block btn-lg" href={{link}}>
    {% partial button %}
</a>
{% else %}
<button class="btn btn-primary btn-block btn-lg">
    {% partial button %}
</button>
{% endif %}
